<!DOCTYPE html>
<html>
<head>
  <style>
html { 
  background: url("/a1b2c3d4.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
  </style>
 
</head>

<body>
   
</body>
</html>
